{% extends 'base.html' %}
{% block 'title' %}Home | EaseEvent{% endblock 'title' %}
{% block 'content' %}
    <div class="py-9 lg:py-20 bg-slate-300">
        <div class="container mx-auto">
            <img src="/static/images/event-banner.png" alt="" class="rounded-2xl">

            <div class="mt-7 bg-white p-5 rounded-xl ">
                <div class="flex justify-between items-center">
                    <h1 class="text-gray text-4xl font-semibold">Sound Of Christmas 2023</h1>
                    <a href="#" class="bg-yellow text-gray font-semibold inline-block py-3 px-10 rounded hover:bg-yellow2 hover:text-white">Book</a>
                </div>
                <div class="flex mt-3 justify-between items-center">
                    <div class="flex gap-6">
                        <p class="!mb-0"><i class="fa-sharp fa-regular fa-calendar-days text-yellow2 text-lg"></i> <span class="text-gray4">Saturday, 2 December 2023</span></p>
                        <p><i class="fa-sharp fa-regular fa-location-dot text-yellow2 text-lg"></i> <span class="text-gray4">Vivada Cruise,Millenium Park Main Gate</span></p>
                    </div>
                    <div class="flex gap-4">
                        <a href="#"><i class="fa-sharp fa-light fa-star text-gray text-2xl"></i></a>
                        <a href="#"><i class="fa-sharp fa-light fa-share-nodes text-gray text-2xl"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="mt-7 grid grid-cols-3 gap-7">
                <div class="col-span-2">
                    <div class="p-5 bg-white rounded-xl">
                        <div class="mb-5">
                            <h4 class="text-gray4 text-3xl mb-5">About Event</h4>
                            <p>Get ready to kick off the Christmas season in Mumbai with SOUND OF CHRISTMAS - your favourite LIVE Christmas concert!</p>
                            <p><em>City Youth Movement invites you to the 4th edition of our annual Christmas festivities - by the youth and for the youth! Feat. your favourite worship leaders, carols, quizzes and some exciting surprises!</em></p>
                            <p>Bring your family and friends and sing along your favourite Christmas carols on the 2nd of December, 6:30 PM onwards at the Balgandharva Rang Mandir, Bandra West. Book your tickets now!</p>
                        </div>

                        <div class="">
                            
                        </div>
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="p-5 bg-white rounded-xl">
                        <div class="mb-8">
                            <h5 class="text-gray4 text-2xl mb-2">Hosted By</h5>
                            <div class="flex gap-4 items-center">
                                <figure>
                                    <img src="/static/images/host.jpg" alt="" class="w-24 h-24 rounded-full object-cover">
                                </figure>
                                <div>
                                    <h5 class="text-gray4 text-xl text-gray2 mb-2">City Youth Movement</h5>
                                    <a href="#" class="bg-gray text-white inline-block py-1 px-4 rounded-md hover:bg-gray2">+ Follow</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-gray4 text-2xl">Kolkata</h5>
                        <p class="text-gra3 font-medium !mb-1">Vivada Cruise,Millenium Park Main Gate</p>
                        <p class="text-sm">13,Strand Road, Opp. Shipping Corp India Building, Kolkata, West Bengal 700001, India</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d29473.76249046735!2d88.34423100000001!3d22.570862!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjLCsDM0JzE1LjEiTiA4OMKwMjAnMzkuMiJF!5e0!3m2!1sen!2sus!4v1720173460428!5m2!1sen!2sus" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>

    
{% endblock 'content' %}
    

<!-- https://www.figma.com/community/file/1333511352060631329 -->