{% extends 'base.html' %}
{% block 'title' %}Home | EaseEvent{% endblock 'title' %}
{% block 'content' %}
    <div class="home-banner">

    </div>

    <div class="py-10 sm:py-20">
        <div class="container mx-auto">
            <h2 class="text-5xl text-black mb-7">Explore Categories</h2>
            <div class="flex gap-9 justify-center">
                <figure class="cat-box text-center overflow-hidden">
                    <a href="#">
                        <img src="/static/images/cat1.jpg" alt="" class="rounded-full mx-auto">
                        <figcaption class="text-xl text-black font-semibold mt-3">Entertainment</figcaption>
                    </a>
                </figure>
                <figure class="cat-box text-center">
                    <a href="#">
                        <img src="/static/images/cat2.jpg" alt="" class="rounded-full mx-auto">
                        <figcaption class="text-xl text-black font-semibold mt-3">Educational</figcaption>
                    </a>
                </figure>
                <figure class="cat-box text-center">
                    <a href="#">
                        <img src="/static/images/cat3.jpg" alt="" class="rounded-full mx-auto">
                        <figcaption class="text-xl text-black font-semibold mt-3">Cultural & Arts</figcaption>
                    </a>
                </figure>
                <figure class="cat-box text-center">
                    <a href="#">
                        <img src="/static/images/cat4.jpg" alt="" class="rounded-full mx-auto">
                        <figcaption class="text-xl text-black font-semibold mt-3">Sports</figcaption>
                    </a>
                </figure>
                <figure class="cat-box text-center">
                    <a href="#">
                        <img src="/static/images/cat5.jpg" alt="" class="rounded-full mx-auto">
                        <figcaption class="text-xl text-black font-semibold mt-3">Technology</figcaption>
                    </a>
                </figure>
                <figure class="cat-box text-center">
                    <a href="#">
                        <img src="/static/images/cat6.jpg" alt="" class="rounded-full mx-auto">
                        <figcaption class="text-xl text-black font-semibold mt-3">Travel & Adventure</figcaption>
                    </a>
                </figure>
            </div>
        </div>
    </div>

    <div class="pb-10 sm:pb-20">
        <div class="container mx-auto">
            <h2 class="text-5xl text-black mb-7">Popular Events in Mumbai</h2>
        </div>
        <div class="container mx-auto grid grid-cols-3 gap-7">
            <div class="overflow-hidden rounded-md shadow transition-all hover:shadow-lg">
                <a href="#">
                    <figure><img src="/static/images/event.jpg" alt=""></figure>
                    <div class="px-4 pt-4 pb-5 flex">
                        <div class="w-20 text-center">
                            <h5 class="text-uppercase text-blue text-2xl font-bold">NOV</h5>
                            <h5 class="text-gray text-2xl font-semibold">25 - 26</h5>
                            
                        </div>
                        <div class="ml-4">
                            <h6 class="text-gray4 text-xl font-semibold mb-2">Lakeside Camping at Pawna</h6>
                            <p class="text-lg font-medium text-text mb-2">Adventure Geek - Explore</p>
                            <p class="text-text mb-2">8:30 AM - 7:30 PM</p>
                            <p class="flex items-center gap-4">
                                <span class="flex gap-2 font-semibold text-lg"><img src="/static/images/ticket.svg" alt=""> $140</span>
                                <span class="w-2 h-2 rounded-full bg-text"></span>
                                <span class="flex gap-2 font-semibold text-lg"><img src="/static/images/star.svg" alt=""> 15</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="overflow-hidden rounded-md shadow hover:shadow-lg">
                <a href="#">
                    <figure><img src="/static/images/event.jpg" alt=""></figure>
                    <div class="px-4 pt-4 pb-5 flex">
                        <div class="w-20 text-center">
                            <h5 class="text-uppercase text-blue text-2xl font-bold">NOV</h5>
                            <h5 class="text-gray text-2xl font-semibold">25 - 26</h5>
                            
                        </div>
                        <div class="ml-4">
                            <h6 class="text-gray4 text-xl font-semibold mb-2">Lakeside Camping at Pawna</h6>
                            <p class="text-lg font-medium text-text mb-2">Adventure Geek - Explore</p>
                            <p class="text-text mb-2">8:30 AM - 7:30 PM</p>
                            <p class="flex items-center gap-4">
                                <span class="flex gap-2 font-semibold text-lg"><img src="/static/images/ticket.svg" alt=""> $140</span>
                                <span class="w-2 h-2 rounded-full bg-text"></span>
                                <span class="flex gap-2 font-semibold text-lg"><img src="/static/images/star.svg" alt=""> 15</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="overflow-hidden rounded-md shadow hover:shadow-lg">
                <a href="#">
                    <figure><img src="/static/images/event.jpg" alt=""></figure>
                    <div class="px-4 pt-4 pb-5 flex">
                        <div class="w-20 text-center">
                            <h5 class="text-uppercase text-blue text-2xl font-bold">NOV</h5>
                            <h5 class="text-gray text-2xl font-semibold">25 - 26</h5>
                            
                        </div>
                        <div class="ml-4">
                            <h6 class="text-gray4 text-xl font-semibold mb-2">Lakeside Camping at Pawna</h6>
                            <p class="text-lg font-medium text-text mb-2">Adventure Geek - Explore</p>
                            <p class="text-text mb-2">8:30 AM - 7:30 PM</p>
                            <p class="flex items-center gap-4">
                                <span class="flex gap-2 font-semibold text-lg"><img src="/static/images/ticket.svg" alt=""> $140</span>
                                <span class="w-2 h-2 rounded-full bg-text"></span>
                                <span class="flex gap-2 font-semibold text-lg"><img src="/static/images/star.svg" alt=""> 15</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="overflow-hidden rounded-md shadow hover:shadow-lg">
                <a href="#">
                    <figure><img src="/static/images/event.jpg" alt=""></figure>
                    <div class="px-4 pt-4 pb-5 flex">
                        <div class="w-20 text-center">
                            <h5 class="text-uppercase text-blue text-2xl font-bold">NOV</h5>
                            <h5 class="text-gray text-2xl font-semibold">25 - 26</h5>
                            
                        </div>
                        <div class="ml-4">
                            <h6 class="text-gray4 text-xl font-semibold mb-2">Lakeside Camping at Pawna</h6>
                            <p class="text-lg font-medium text-text mb-2">Adventure Geek - Explore</p>
                            <p class="text-text mb-2">8:30 AM - 7:30 PM</p>
                            <p class="flex items-center gap-4">
                                <span class="flex gap-2 font-semibold text-lg"><img src="/static/images/ticket.svg" alt=""> $140</span>
                                <span class="w-2 h-2 rounded-full bg-text"></span>
                                <span class="flex gap-2 font-semibold text-lg"><img src="/static/images/star.svg" alt=""> 15</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container mx-auto mt-12 text-center">
            <a href="#" class="border border-gray text-gray rounded py-2 w-60 inline-block hover:text-white hover:bg-gray">See All</a>
        </div>
    </div>

{% endblock 'content' %}
    

<!-- https://www.figma.com/community/file/1333511352060631329 -->